@using Manager.WebApp.Helpers;
@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@model Manager.WebApp.Models.ManageRevenueModel
@{
    var currentDate = DateTime.Now;
    var firstDate = new DateTime(currentDate.Year, 1, 1).ToShortDateString();
}
<style>
    .chart-item-wrap {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: rgb(14 2 185 / 30%) 0px 1px 2px 0px, rgb(24 64 94 / 15%) 0px 2px 3px 2px;
    }
</style>
<div>

    <div class="row mt-5" id="render-saleschart">
        <div class="col-lg-4 col-md-6 col-xs-12 mb15 chart-item" id="chart-MonthlySales" data-type="0" data-name="MonthlySales">
            <div class="chart-item-wrap">
                <input type="hidden" class="chart-type" value="0">



                <div class="row">
                    <div class="col-lg-12 text-center">
                        <b class="text-info" style="font-size:1.2rem">Hàng tháng</b>                      
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <div class="chart-container">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="myMonthChart"></canvas>
@*                            <canvas class="chart-display chartjs-render-monitor rendered" data-type="bar" data-report="0" id="chart-display-0-bar" width="730" height="500" style="display: block; width: 365px; height: 250px;"></canvas>
*@                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mb15 chart-item" id="chart-DayOfWeek" data-type="1" data-name="DayOfWeek">
            <div class="chart-item-wrap">
                <input type="hidden" class="chart-type" value="1">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <b class="text-info" style="font-size:1.2rem">Theo thứ của tuần</b>                      
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <div class="chart-container">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="myWeekChart"></canvas>
@*                            <canvas class="chart-display chartjs-render-monitor rendered" data-type="bar" data-report="1" data-stripped="1" id="chart-display-1-bar" width="730" height="500" style="display: block; width: 365px; height: 250px;"></canvas>
*@                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-xs-12 mb15 chart-item" id="chart-Platforms" data-type="3" data-name="Platforms">
            <div class="chart-item-wrap">
                <input type="hidden" class="chart-type" value="3">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <b class="text-info" style="font-size:1.2rem">Theo Nguồn thu nhập</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="chart-container">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="mySourceChart"></canvas>
                            @*<canvas class="chart-display chartjs-render-monitor rendered" data-type="pie" data-report="3" id="chart-display-3-pie" style="display: block; width: 365px; height: 250px;" width="730" height="500"></canvas>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>
