/SourceCode/Manager/Manager.WebApp/bin/
/SourceCode/Manager/Manager.WebApp/obj/
/SourceCode/Manager/Manager.SharedLibs/bin/
/SourceCode/Manager/Manager.SharedLibs/obj/
/SourceCode/Manager/MsSql.AspNet.Identity/bin/
/SourceCode/Manager/MsSql.AspNet.Identity/obj/
/SourceCode/Manager/Manager.Datalayer/bin/
/SourceCode/Manager/Manager.Datalayer/obj/
/SourceCode/Manager/Manager.WebApp/App_Data/Log4net/Logs/
/SourceCode/Manager/Manager.WebApp/logs/
/SourceCode/Manager/.vs/

/SourceCode/MainApi/MainApi/bin/
/SourceCode/MainApi/MainApi/obj/
/SourceCode/MainApi/MainApi.SharedLibs/bin/
/SourceCode/MainApi/MainApi.SharedLibs/obj/
/SourceCode/MainApi/MsSql.AspNet.Identity/bin/
/SourceCode/MainApi/MsSql.AspNet.Identity/obj/
/SourceCode/MainApi/MainApi.Datalayer/bin/
/SourceCode/MainApi/MainApi.Datalayer/obj/
/SourceCode/MainApi/MainApi.Datalayer.Entities/bin/
/SourceCode/MainApi/MainApi.Datalayer.Entities/obj/
/SourceCode/MainApi/MainApi/App_Data/Log4net/Logs/
/SourceCode/MainApi/MainApi/logs/
/SourceCode/MainApi/.vs/

/SourceCode/EndUser/Manager.WebApp/bin/
/SourceCode/EndUser/Manager.WebApp/obj/
/SourceCode/EndUser/Manager.SharedLibs/bin/
/SourceCode/EndUser/Manager.SharedLibs/obj/
/SourceCode/EndUser/MsSql.AspNet.Identity/bin/
/SourceCode/EndUser/MsSql.AspNet.Identity/obj/
/SourceCode/EndUser/Manager.Datalayer/bin/
/SourceCode/EndUser/Manager.Datalayer/obj/
/SourceCode/EndUser/Manager.Datalayer.Entities/bin/
/SourceCode/EndUser/Manager.Datalayer.Entities/obj/
/SourceCode/EndUser/Manager.WebApp/App_Data/Log4net/Logs/
/SourceCode/EndUser/Manager.WebApp/logs/
/SourceCode/EndUser/.vs/

*.suo
*.dll
*.pdb
*.xml
*.log
*.cache
*.resources
*.editorconfig
*.editorconfig
.vs/
