<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <!--[if gte mso 9]>
        <xml>
            <o:OfficeDocumentSettings>
                <o:AllowPNG />
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    <![endif]-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="x-apple-disable-message-reformatting" />
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i" rel="stylesheet" />
    <!--<![endif]-->
    <title>Welcome</title>
    <!--[if gte mso 9]>
        <style type="text/css" media="all">
            sup {
                font-size: 100% !important;
            }
        </style>
    <![endif]-->

    <style type="text/css" media="screen">
        /* Linked Styles */
        body {
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            background: white;
            -webkit-text-size-adjust: none;
        }

        .button-29 {
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            font-family: "JetBrains Mono",monospace;
            height: 48px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 18px;
        }

            .button-29:focus {
                box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
            }

            .button-29:hover {
                box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
                transform: translateY(-2px);
            }

            .button-29:active {
                box-shadow: #3c4fe0 0 3px 7px inset;
                transform: translateY(2px);
            }

        .btn-link {
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            color: #0000EE;
            padding: 0;
            text-decoration: underline;
            font-family: inherit;
            font-size: inherit;
        }

        a {
            color: #66c7ff;
            text-decoration: none;
        }

        p {
            padding: 0 !important;
            margin: 0 !important;
        }

        img {
            -ms-interpolation-mode: bicubic;
            /* Allow smoother rendering of resized image in Internet Explorer */
        }

        .mcnPreviewText {
            display: none !important;
        }

       
    </style>
</head>

<body class="body" style="padding: 0 !important; margin: 0 !important; display: block !important; min-width: 100% !important; width: 100% !important; background: white; -webkit-text-size-adjust: none;">
    <p>オガトレヒットへようこそ。</p>
    <br />
    <p>
        以下のリンクをクリックしてアカウント認証プロセスを完了してください。<br />
        <br />
        検証 URL: <br /> <br />

    </p>
    <a href="[link][ID]" style="
                                background: #ff6666;
                                color: #c1cddc;
                                font-family: 'Muli', Arial, sans-serif;
                                font-size: 14px;
                                line-height: 18px;
                                padding: 12px 30px;
                                text-align: center;
                                border-radius: 0px 22px 0px 22px;
                                font-weight: bold;
                                color:white;
                                border:none;
                                cursor:pointer;
                            ">
        ここをクリックしてメールを確認してください
    </a>
    <br />
    <br />
    <p>エラーが発生した場合はサポートまでご連絡ください。</p>

    <p>ご質問や問題がございましたら、いつでもお気軽にお問い合わせください。</p>
    <br />
    <p>ご登録いただきありがとうございます。</p>
    <br />
    <p>
        乾杯,<br />
        オガトレヒット
    </p>
    <br />
    <br />
    <p>
        ※このメールは自動配信メールです。 返信はできませんのでご了承ください。<br />
        注: この登録についてよくわからない場合は、このメールを破棄してください。
    </p>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</html>

