.email-template-thumb{
    border:1px solid #ccc;
    border-radius:3px;
    overflow:hidden;
    width:250px;
    height:250px;
    display:flex;
    justify-content:center;
}

.email-template-thumb-img{
    width:100%;
    object-fit:contain;
}