@using System.Web;
@using Manager.WebApp.Helpers;
@{
    ViewData["Title"] = "Account was locked !!!";
}

<div class="text-center">
    <h1 class="display-4">403</h1>
    <h3>Your account was locked !!!</h3>
</div>
